{% extends 'base.html.twig' %}

{% block title %}Mes structures{% endblock %}

{% block title_h1 %}
    {% if is_granted('ROLE_ADMIN') %}
        Liste des structures 
    {% else %}
        Mes structures
    {% endif %}
{% endblock %}

{% block content %}
    <div class="page-my-structures">
        <h2>Franchise : {{ userOwner.franchise.name }}</h2>
        <p class="text-light">Nombre de structure reliée à votre franchise : {{ structures|length }}</p>

        <div class="dividing-border"></div>
        <section class="block-cards-my-structures">
             {% for structure in structures %}
                <article class="card-my-structures">
                    <div>
                        <div class="card-my-structure-name">
                            {% if structure.active == true %}
                                <span></span>
                            {% else %}  
                                <span class="disable"></span>
                            {% endif %}
                            <a href="{{ path('app_structure_unique', {slug: structure.slug, id: structure.id}) }}">
                                <h3> {{ structure.name }}</h3>
                            </a>
                        </div>
                        <div class="card-info-my-structure">
                            <p class="text-light">Contrat n° : {{ structure.contractNumber }}</p>
                            <p class="text-light">Adresse : {{ structure.address }}</p>
                        </div>
                    </div>
                    <a href="{{ path('app_structure_unique', {slug: structure.slug, id: structure.id}) }}">
                        <button class="btn-xs">Plus de détails</button>
                    </a>
                 </article>
                 {% else%}
                    <h3>Vous n'avez pas de structure</h3>
                {% endfor %}
        </section>
    </div>
{% endblock %} 


