{% extends 'base.html.twig' %}

{% block title %}Structure : {{ structure.getName }}{% endblock %}
{% block title_h1 %}
    {% if is_granted('ROLE_ADMIN') %}
        Structure n° {{ structure.id }}
    {% else %}
        Votre Structure
    {% endif %}
{% endblock %}

{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-edit-franchise'} }) }}  
        <section class="block-top-page-single structure-id" data-structure-id="{{ structure.id }}">
            <div class="block-left">
                <div class="content-editable">
                    <h2 data-id="{{ structure.id }}" data-request="namestructure">{{ structure.getName }}</h2>
                    <i class="fa-regular fa-pen-to-square {{ noAccess }}"></i>
                </div>
                <p><strong>Franchise : </strong>
                    {% if is_granted('ROLE_FRANCHISE') %}
                        <a href="{{ path('app_franchise_unique', {slug: franchise.slug, id: franchise.id}) }}">{{ franchise.getName }}</a>
                    {% else %}
                        {{ franchise.getName }}
                    {% endif %}
                    <span class="change-franchise edit-js"><i class="fa-regular fa-pen-to-square {{ noAccess }}"></i></span>
                </p>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_supprimer_structure', {id: structure.id}) }}" class="delete-partner">Supprimer la structure</a>
                {% endif %}
            </div>
            <div class="dividing-border"></div>
            <div class="block-right">
                {% if structure.active %}
                    <h3>La structure est active</h3>
                {% else %}
                    <h3>La structure est désactivée</h3>
                {% endif %}
                <div class="check-toggle{{ noAccess }} state-structure">
                    {{ form_widget(form.active, {'id': 'str_' ~ structure.id, 'attr': {'value': structure.id} })}}
                    <label class="toggle-label" for="{{ 'str_' ~ structure.id }}">
                        <span class="btn-toggle"></span>
                    </label>
                </div>
            </div>
        </section>

        <div class="dividing-border"></div>

        <section class="block-info-page-single">
            <div class="block-left">
                <p><strong>Contrat n° : </strong> {{ structure.contractNumber|capitalize }}</p>
                <p><strong>Adresse : </strong> {{ structure.address }}</p>
            </div>
            <div class="block-right">
                <p>
                    <strong>Gestionnaire : </strong> {{ userAdminStructure.getFirstname|capitalize }} {{ userAdminStructure.getLastname|capitalize }}
                    <span class="change-structure-admin edit-js"><i class="fa-regular fa-pen-to-square {{ noAccess }}"></i></span>
                </p>
                <p><strong>Téléphone : </strong> <a href="tel:{{ structure.phone }}">{{ structure.phone }}</a></p>
            </div>
        </section>

        <div class="dividing-border"></div>

        <section class="add-global-permission">
            <h2>Permissions accordées</h2>
            <p class="text-light">Cette structure a accès à 
            {{ mixedPermissions|length == 0 ? 'aucune fonctionnalité' : mixedPermissions|length ~ ' fonctionnalités' }}</p>
            <div class="block-cards-permission state-structure-permission">
                {% for structurePermission in form.structurePermissions %}
                    {% set index = structurePermission.vars.value %}
                    {% set permission = form.structurePermissions.vars.choices[index].data%}

                    {% if permission.id in idGlobalPermissions %}
                        <article class="card-permission global">
                    {% else %}
                        <article class="card-permission structure-permission">
                    {% endif %}
                        <div class="permission-top-card">
                            <h3>{{ permission.name|capitalize  }}</h3>
                            <p class="text-light">{{ permission.description|capitalize  }}</p>
                            {% if permission.id in idGlobalPermissions %}    
                                <span>Permission globale</span>
                            {% endif %}
                        </div>
                        <div class="permission-bottom-card">
                            <span class="state-checkbox-text {{ noAccess }}">
                                {% if permission.id in mixedPermissions %}
                                    Active
                                {% else %}   
                                    Inactive
                                {% endif %} 
                            </span>
                            <div class="check-toggle {{ noAccess }}">
                                {% if permission.id in mixedPermissions %}
                                    {{ form_widget(structurePermission, {'id': permission.id,'attr': {'checked': 'checked', 'class': 'state-checkbox', 'data-id-structure': structure.id} }) }}
                                {% else %}   
                                    {{ form_widget(structurePermission, {'id': permission.id,'attr': {'class': 'state-checkbox', 'data-id-structure': structure.id} }) }}
                                {% endif %}   
                                <label class="toggle-label" for="{{ permission.id }}">
                                    <span class="btn-toggle"></span>
                                </label>
                            </div>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </section>    
    {{ form_end(form) }}  
{% endblock %}