{% extends 'base.html.twig' %}

{% block title %}Structure : {{ structure.getName }}{% endblock %}
{% block title_h1 %}
    {% if is_granted('ROLE_ADMIN') %}
        Structure n° {{ structure.id }}
    {% else %}
        Votre Structure
    {% endif %}
{% endblock %}

{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-edit-franchise'} }) }}  
        <section class="block-top-page-single structure-id" data-structure-id="{{ structure.id }}">
            <div class="block-left">
                <div class="content-editable">
                    <h2 data-id="{{ structure.id }}" data-request="namestructure">{{ structure.getName }}</h2>
                    <i class="fa-regular fa-pen-to-square {{ noAccess }}"></i>
                </div>
                <p><strong>Franchise : </strong>
                    {% if is_granted('ROLE_FRANCHISE') %}
                        <a href="{{ path('app_franchise_unique', {slug: franchise.slug, id: franchise.id}) }}">{{ franchise.getName|capitalize }}</a>
                    {% else %}
                        {{ franchise.getName|capitalize }}
                    {% endif %}
                 <span class="change-franchise"><i class="fa-regular fa-pen-to-square {{ noAccess }}"></i></span></p>
                 {# Affiche le selecteur de franchise en JS #}
                 <div class="block-select-franchise"></div>    
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_supprimer_structure', {id: structure.id}) }}" class="delete-partner">Supprimer la structure</a>
                {% endif %}
            </div>
            <div class="dividing-border"></div>
            <div class="block-right">
                {% if structure.active %}
                    <h3>La structure est active</h3>
                {% else %}
                    <h3>La structure est désactivée</h3>
                {% endif %}
                <div class="check-toggle{{ noAccess }} state-structure">
                    {{ form_widget(form.active, {'id': structure.id, 'attr': {'value': structure.id} })}}
                    <label class="toggle-label" for="{{ structure.id }}">
                        <span class="btn-toggle"></span>
                    </label>
                </div>
            </div>
        </section>

        <div class="dividing-border"></div>

        <section class="block-info-page-single">
            <div class="block-left">
                <p><strong>Contrat n° : </strong> {{ structure.contractNumber }}</p>
                <p><strong>Adresse : </strong> {{ structure.address }}</p>
            </div>
            <div class="block-right">
                <p><strong>Gestionnaire : </strong> {{ userAdminStructure.getFirstname|capitalize }} {{ userAdminStructure.getLastname|capitalize }}</p>
                <p><strong>Téléphone : </strong> {{ structure.phone }}</p>
            </div>
        </section>

        <div class="dividing-border"></div>

        {# <section class="add-global-permission">
            <h2>Permissions globales</h2>
            <p class="text-light">Sélectionnez les permissions globales quepourrontavoir les structures appartenant à cette franchise.</p>
            <div class="block-cards-permission state-global-permission">
                {% for globalPermission in form.globalPermissions %}
                    {% set index = globalPermission.vars.value %}
                    {% set entity = form.globalPermissions.vars.choices[index].data%}
                    <article class="card-permission">
                        <div class="permission-top-card">
                            <h3>{{ entity.name }}</h3>
                            <p class="text-light">{{ entity.description }}</p>
                        </div>
                        <div class="permission-bottom-card">
                            <span class="state-checkbox-text {{ noAccess }}">
                                {% if entity.id in idGlobalPermissions %}
                                    Active
                                {% else %}   
                                    Inactive
                                {% endif %} 
                            </span>
                            <div class="check-toggle {{ noAccess }}">
                                {% if entity.id in idGlobalPermissions %}
                                    {{ form_widget(globalPermission, {'id': entity.id,'attr': {'checked': 'checked', 'class': 'state-checkbox', 'data-id-franchise': franchise.id} }) }}
                                {% else %}   
                                    {{ form_widget(globalPermission, {'id': entity.id,'attr': {'class': 'state-checkbox', 'data-id-franchise': franchise.id} }) }}
                                {% endif %}   
                                <label class="toggle-label" for="{{ entity.id }}">
                                    <span class="btn-toggle"></span>
                                </label>
                            </div>
                        </div>
                    </article>
                {% else %}
                    <h3>Aucune permission disponible</h3>
                {% endfor %}
            </div>
        </section>   #}  
    {{ form_end(form) }}  
{% endblock %}