{# Permet d'afficher la liste des franchises #}

{{ form_start(form.list, { 'attr': {'class': 'js-content state-franchise'} }) }}  
    <section class="block-cards-franchise">  
        {% for franchise in form.list %}
            {% set entity = franchise.vars.value %}
            <article class="card-franchise">
                <a href="{{ path('app_franchise_unique', {slug: entity.slug, id: entity.id}) }}"><h3>{{ entity.name|capitalize }}</h3></a> 
                <p class="text-light text-xs">{{ entity.userOwner.firstname|capitalize }} {{ entity.userOwner.lastname|capitalize }}</p>
                <div class="bottom-card-franchise">
                    <span class="state-checkbox-text">
                        {% if entity.active == true %}
                            Active
                        {% else %}   
                            Inactive
                        {% endif %} 
                    </span>
                    <div class="check-toggle">
                        {{ form_widget(franchise.active, {'id': entity.id, 'attr': {'class': 'form-add-franchise', 'value': entity.id} })}}
                        <label class="toggle-label" for="{{ entity.id }}">
                            <span class="btn-toggle"></span>
                        </label>
                    </div>
                </div>
            </article>  
        {% endfor %}
        {{ form_widget(form._token) }}
        {{ form_errors(form._token) }}
    </section>
{{ form_end(form.list) }} 
