{% extends 'base-login.html.twig' %}

{% block title %}Créer un mot de passe{% endblock %}
{% block title_h1 %}Créer un mot de passe{% endblock %}

{% block content %}
    <p class="light-text">Créer votre nouveau mot de passe pour vous connecter</p>
    <section class="block-form-login">
        {{ form_start(formCreatePassword) }}
            <div class="error-form">
                {{ form_errors(formCreatePassword.plainPassword.first) }}
            </div>
            <div class="block-input">
                {{ form_label(formCreatePassword.plainPassword.first) }}
                {{ form_widget(formCreatePassword.plainPassword.first) }}
                <span class="text-light text-xs">
                    {{ form_help(formCreatePassword.plainPassword.first)}}
                </span>
            </div>
            <div class="block-input">
                {{ form_label(formCreatePassword.plainPassword.second) }}
                {{ form_widget(formCreatePassword.plainPassword.second) }}
                <span class="text-light text-xs">
                    {{ form_help(formCreatePassword.plainPassword.second)}}
                </span>
            </div>
            {{ form_row(formCreatePassword._token)}}
            <button class="btn-primary form-btn" type="submit">Créer mon mot de passe</button>
        {{ form_end(formCreatePassword) }}
    </section> 
{% endblock %}