{# Template de base lorsque l'utilisateur est connecté #}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="noindex">
        <title>{% block title %}BodyCool{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{{ asset('/images/icons/favicon-bodycool.ico') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
    </head>

    <body class="js-user-access" data-has-access="{{ is_granted('ROLE_ADMIN') ? true : false }}">
        {# classe css qui diminue l'oppacité des élements lorsque l'user n'est pas un admin #}
        {% set noAccess = ' no-access' %}
        {% if is_granted('ROLE_ADMIN') %}
            {% set noAccess = null %}
        {% endif %}
        {% block header %}
                <nav class="menu-navigation display-menu-mobile">
                    <section class="top-menu">
                        <i class="fa-solid fa-bolt bolt"></i><h3>{{ app.user.roles|first|slice(5)|replace({'_': ' '})|capitalize}}</h3>
                        <i class="close-menu fa-regular fa-circle-xmark"></i>
                    </section>
                    <section class="user-menu">
                        <h4 class="text-light">MON COMPTE</h4>
                            <ul>
                                <a href="{{ path('app_profil') }}">
                                    <i class="fa-regular fa-circle-user"></i>
                                    <li>Profil</li>
                                </a>
                                {% if 'ROLE_FRANCHISE' in app.user.roles|first and app.user.franchise != null %}
                                    <a href="{{ path('app_franchise_unique', {slug: app.user.franchise.slug, id: app.user.franchise.id}) }}">
                                        <i class="fa-regular fa-address-card"></i>
                                        <li>Franchise</li>
                                    </a>
                                    <a href="{{ path('app_mes_structures', {slug: app.user.franchise.slug, id: app.user.franchise.id}) }}">
                                        <i class="fa-regular fa-building"></i>
                                        <li>Structures</li>
                                    </a>
                                {% endif %} 
                                {% if 'ROLE_GESTIONNAIRE' in app.user.roles|first and app.user.structure != null %}
                                    <a href="{{ path('app_structure_unique', {slug: app.user.structure.slug, id: app.user.structure.id}) }}">
                                        <i class="fa-regular fa-building"></i>
                                        <li>Structure</li>
                                    </a>
                                {% endif %}  
                            </ul>
                    </section>
                    <section class="technician-menu">
                        {% if is_granted('ROLE_ADMIN') %}
                            <h4 class="text-light">TECHNICIEN</h4>
                            <ul> 
                                <a href="{{ path('app_list_franchise') }}">
                                    <i class="fa-regular fa-address-book"></i>
                                    <li>Les franchises</li>
                                </a>
                                <a href="{{ path('app_ajouter_franchise') }}">
                                    <i class="fa-regular fa-square-plus"></i>
                                    <li>Ajouter une franchise</li>
                                </a>
                                <a href="{{ path('app_list_structure') }}">
                                    <i class="fa-regular fa-rectangle-list"></i>
                                    <li>Les structures</li>
                                </a>
                                <a href="{{ path('app_ajouter_structure') }}">
                                    <i class="fa-regular fa-square-plus"></i>
                                    <li>Ajouter une structure</li>
                                </a>
                                <a href="{{ path('app_liste_permissions') }}">
                                    <i class="fa-regular fa-paste"></i>
                                    <li>Les permissions</li>
                                </a>
                                <a href="{{ path('app_ajouter_permission') }}">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                    <li>Ajouter une permission</li>
                                </a>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('app_ajouter_utilisateur') }}">
                                        <i class="fa-solid fa-person-circle-plus"></i>
                                        <li>Créer un utilisateur</li>
                                    </a>
                                {% endif %}
                            </ul>
                        {% endif %}
                    </section>
                    <div class="logout">
                        <a href="{{ path('app_logout') }}" ><button class="btn-primary">Déconnexion</button></a>
                    </div>
                    <div class="logout-mobile">
                        <a href="{{ path('app_logout') }}">
                            <i class="fa-solid fa-right-from-bracket"></i>
                            <p>Déconnexion</p>
                        </a>
                    </div>
                    
                    <footer class="footer-menu">
                        <p class="text-xs text-light">Tous droits réservés © 
                            <a href="{{ path('app_mentions_legales') }}">BodyCool</a>
                        </p>
                        <p class="text-xs text-light">Version 1.0</p> 
                    </footer>
                </nav>

                <header class="main-header">
                    <div class="hamburger-menu">
                        <img src="{{ asset('/images/icons/menu.svg') }}" alt="Icon du menu mobile" height=32 width=32>
                    </div>
                    <a href="{{ path('app_profil') }}" class="logo">
                        <img src="{{ asset('/images/others/logo-bodycool.svg') }}" alt="Logo bodycool" height=42>
                    </a>
                    <section class="user-header">
                        <div class="welcome-user">
                            <h3>Bienvenue</h3>
                            <span class="text-light" >{{ app.user.firstname|capitalize }} {{ app.user.lastname|capitalize }}</span>
                        </div>
                        <div class="user-picture">
                            <a href="{{ path('app_profil') }}">
                                <img src="{{ asset('/images/avatar/' ~ app.user.avatar) }}" alt="Photo de profil" height=48 width=48>
                            </a>
                            <div class="bg-picture-header"></div>
                        </div>
                    </section> 
                </header>
        {% endblock %}

            {% block main %}
                <main class="container">
                    <div class="main-title-page">
                        <h1>{% block title_h1 %}{% endblock %}</h1>
                        <div class="border-h1"></div> 
                    </div>
                    
                    {% for message in app.flashes('notice') %}
                        <div class="flash-notice notice">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('success') %}
                        <div class="flash-notice success">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('exception') %}
                        <div class="flash-notice exception">
                            {{ message }}
                        </div>
                    {% endfor %}

                {% block content %}{% endblock %} 
                </main>  
            {% endblock %} 

        {% block js_after %}{{ encore_entry_script_tags('app') }}{% endblock %}                          
    </body>
</html>

