{% extends 'base.html.twig' %}

{% block title %}Ajouter une nouvelle permission{% endblock %}
{% block title_h1 %}Nouvelle permission{% endblock %}

{% block content %}
    <section class="block-simple-form">
        {{ form_start(formAddPermission) }}
            <div class="block-input">
                {{ form_label(formAddPermission.name)}}
                {{ form_widget(formAddPermission.name)}}
                <div class="error-form">
                    {{ form_errors(formAddPermission.name)}}
                </div>
            </div>  
            <div class="block-input">
                {{ form_label(formAddPermission.description)}}
                {{ form_widget(formAddPermission.description)}}
                <div class="error-form">
                    {{ form_errors(formAddPermission.description)}}
                </div>
                <span class="text-light text-xs">
                    {{ form_help(formAddPermission.description)}}
                </span>
            </div>  
            <button class="btn-primary form-btn" type="submit">Créer la permission</button>
        {{ form_end(formAddPermission) }}
    </section>
{% endblock %}

