{% extends 'base.html.twig' %}

{% block title %}Liste des franchises{% endblock %}
{% block title_h1 %}Liste des franchises{% endblock %}

{% block content %}
    <div class="list-franchise ajax-content">
        <h2>Rechercher une franchise</h2>
        <p class="text-light">Recherchez une franchise avec son nom ou son ID.</p>
        <div class="block-search">
            <form action="{{ path('app_list_franchise', {active: paramActive}) }}">
                <input class="input" type="text" name="name" id="name" placeholder="Entrez le nom d’un franchisé">
                <button type="submit">Rechercher</button>  
            </form>
            <form action="{{ path('app_list_franchise', {active: paramActive}) }}">
                <input class="input" type="text" name="id" id="id" placeholder="Ou recherchez avec son ID">
                <button type="submit">Rechercher</button>  
            </form>
        </div>

        <div class="dividing-border"></div>

        {{ include('franchise/_filter-state.html.twig') }}

        <div class="block-list-franchise state-franchise">
            <div class="number-resultat-filter"><em></em></div>
            {{ include('franchise/_franchise-listing.html.twig') }}
        </div>

        {{ include('franchise/_pagination.html.twig') }}
    </div>
{% endblock %} 

{% block js_after %}<script type='module' src="{{ asset('/js/franchise.js') }}"></script>{% endblock %}