{% extends 'base.html.twig' %}

{% block title %}Franchise : {{ franchise.getName }}{% endblock %}
{% block title_h1 %}
    {% if is_granted('ROLE_ADMIN') %}
        Franchise n° {{ franchise.id }}
    {% else %}
        Votre franchise
    {% endif %}
{% endblock %}

{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-edit-franchise'} }) }}  
        <section class="block-top-page-single content-editable">
            <div class="block-left">
                <div class="content-editable">
                    <h2 data-request="namefranchise">{{ franchise.getName }}</h2>
                    <i class="fa-regular fa-pen-to-square {{ noAccess }}"></i>
                </div>
                <p><strong>Propriétaire : </strong>{{ franchise.userOwner.getFirstname|capitalize }} {{ franchise.userOwner.getLastname|capitalize }}</p>
                <p><strong>Téléphone : </strong>{{ franchise.userOwner.getPhone }}</p>
                <p><strong>Nombre de structure détenue : </strong> {{ franchise.structures|length }} </p>  
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_supprimer_franchise', {id: franchise.id}) }}" class="delete-partner">Supprimer la franchise</a>
                {% endif %}
            </div>
            <div class="dividing-border"></div>
            <div class="block-right">
                {% if franchise.active %}
                    <h3>La franchise est active</h3>
                {% else %}
                    <h3>La franchise est désactivée</h3>
                {% endif %}
                <div class="check-toggle{{ noAccess }} state-franchise">
                    {{ form_widget(form.active, {'id': franchise.id, 'attr': {'class': 'form-add-franchise', 'value': franchise.id} })}}
                    <label class="toggle-label" for="{{ franchise.id }}">
                        <span class="btn-toggle"></span>
                    </label>
                </div>
            </div>
        </section>

        <div class="dividing-border"></div>

        <section class="add-global-permission">
            <h2>Permissions globales</h2>
            <p class="text-light">Sélectionnez les permissions globales quepourrontavoir les structures appartenant à cette franchise.</p>
            <div class="block-cards-permission state-global-permission">
                {% for globalPermission in form.globalPermissions %}
                    {% set index = globalPermission.vars.value %}
                    {% set entity = form.globalPermissions.vars.choices[index].data%}
                    <article class="card-permission">
                        <div class="permission-top-card">
                            <h3>{{ entity.name }}</h3>
                            <p class="text-light">{{ entity.description }}</p>
                        </div>
                        <div class="permission-bottom-card">
                            <span class="state-checkbox-text {{ noAccess }}">
                                {% if entity.id in idGlobalPermissions %}
                                    Active
                                {% else %}   
                                    Inactive
                                {% endif %} 
                            </span>
                            <div class="check-toggle {{ noAccess }}">
                                {% if entity.id in idGlobalPermissions %}
                                    {{ form_widget(globalPermission, {'id': entity.id,'attr': {'checked': 'checked', 'class': 'state-checkbox', 'data-id-franchise': franchise.id} }) }}
                                {% else %}   
                                    {{ form_widget(globalPermission, {'id': entity.id,'attr': {'class': 'state-checkbox', 'data-id-franchise': franchise.id} }) }}
                                {% endif %}   
                                <label class="toggle-label" for="{{ entity.id }}">
                                    <span class="btn-toggle"></span>
                                </label>
                            </div>
                        </div>
                    </article>
                {% else %}
                    <h3>Aucune permission disponible</h3>
                {% endfor %}
            </div>
        </section>   
    {{ form_end(form) }}   
{% endblock %}