{% extends 'base.html.twig' %}

{% block title %}Franchise : {{ franchise.getName }}{% endblock %}
{% block title_h1 %}
    {% if is_granted('ROLE_ADMIN') %}
        Franchise n° {{ franchise.id }}
    {% else %}
        Votre franchise
    {% endif %}
{% endblock %}

{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-edit-franchise'} }) }}  
        <div class="block-single-franchise-info">
            <div class="block-left">
                <h2>{{ franchise.getName }}</h2>
                <p><strong>Propriétaire : </strong>{{ userOwner.getFirstname|capitalize }} {{ userOwner.getLastname|capitalize }}</p>
                <p><strong>Téléphone : </strong>{{ userOwner.getPhone }}</p>
                <p><strong>Nombre de structure détenue : </strong>{3}</p>  
            </div>
            <div class="dividing-border"></div>
            <div class="block-right">
                {% if franchise.active %}
                    <h3>La franchise est active</h3>
                {% else %}
                    <h3>La franchise est désactivée</h3>
                {% endif %}
                <div class="check-toggle{{ noAccess }}">
                    {% if franchise.active %}
                        {{ form_widget(form.active, {'id': 'gp-' ~ franchise.id,'attr': {'checked': 'checked', 'class': 'state-checkbox'} }) }}
                    {% else %}   
                        {{ form_widget(form.active, {'id': 'gp-' ~ franchise.id,'attr': {'class': 'state-checkbox'} }) }}
                    {% endif %}  
                    <label class="toggle-label" for="gp-{{ franchise.id }}">
                        <span class="btn-toggle"></span>
                    </label>
                </div>
            </div>
        </div>

        <div class="dividing-border"></div>

        <div class="add-global-permission">
            <h2>Permissions globales</h2>
            <p class="text-light">Sélectionnez les permissions globales quepourrontavoir les structures appartenant à cette franchise.</p>
            <section class="block-cards-permission">
                {% for globalPermission in form.globalPermissions %}
                    {% set index = globalPermission.vars.value %}
                    {% set entity = form.globalPermissions.vars.choices[index].data%}
                    <div class="card-permission">
                        <div class="permission-top-card">
                            <h3>{{ entity.name }}</h3>
                            <p class="text-light">{{ entity.description }}</p>
                        </div>
                        <div class="permission-bottom-card">
                            <span class="state-toggle-txt {{ noAccess }}">
                                {% if entity.id in idGlobalPermissions %}
                                    Active
                                {% else %}   
                                    Inactive
                                {% endif %} 
                            </span>
                            <div class="check-toggle {{ noAccess }}">
                                {% if entity.id in idGlobalPermissions %}
                                    {{ form_widget(globalPermission, {'id': 'gp-' ~ entity.id,'attr': {'checked': 'checked', 'class': 'state-checkbox'} }) }}
                                {% else %}   
                                    {{ form_widget(globalPermission, {'id': 'gp-' ~ entity.id,'attr': {'class': 'state-checkbox'} }) }}
                                {% endif %}   
                                <label class="toggle-label" for="gp-{{ entity.id }}">
                                    <span class="btn-toggle"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </section>
        </div>   
        <button class="hidden" type="submit">Envoye</button>
    {{ form_end(form) }}   
{% endblock %} 